<h1>Form Demo</h1>

<div class="clever-form">
  <div class="row">
    {{clever-input type="url" class="col-xs-12"  label="Photo" name="photoUrl" placeholder="https://images.com/your-image.jpg" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  </div>
  <div class="row">
    {{clever-input class="col-xs-2" label="Prefix" name="namePrefix" placeholder="Prefix" autocorrect="off" spellcheck="false"}}
    {{clever-input class="col-xs-10" label="First Name" name="firstName" placeholder="First Name" autocorrect="off" spellcheck="false"}}
  </div>
  <div class="row">
  {{clever-input class="col-xs-10" label="Last Name" name="lastName" placeholder="Last Name" autocorrect="off" spellcheck="false"}}
  {{clever-input class="col-xs-2" label="Suffix" name="nameSuffix" placeholder="Suffix" autocorrect="off" spellcheck="false"}}
  </div>
  <div class="row">
    {{clever-input class="col-xs-12" label="Nickname" name="nickname" placeholder="Nickname" autocorrect="off" spellcheck="false"}}
  </div>
  <div class="row">
    {{clever-input type="email" class="col-xs-6" label="Home Email" name="email" placeholder="Home Email" autocorrect="off" autocapitalize="off" spellcheck="false"}}
    {{clever-input type="email" class="col-xs-6" label="Work Email" name="workEmail" placeholder="Work Email" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  </div>
  <div class="row">
    {{clever-input type="tel" class="col-xs-6" label="Home Phone" name="homePhone" placeholder="Home Phone" autocorrect="off" autocapitalize="off" spellcheck="false"}}
    {{clever-input type="tel" class="col-xs-6" label="Cell Phone" name="cellPhone" placeholder="Cell Phone" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  </div>
  <div class="row">
    {{clever-input type="date" class="col-xs-6" label="Birthday" name="birthday" placeholder="Birthday" autocorrect="off" autocapitalize="off" spellcheck="false"}}
    {{clever-input type="date" class="col-xs-6" label="Anniversary" name="anniversary" placeholder="Anniversary" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  </div>
</div>
